//* Map size devices for media query
$wideScreens: (
    phonesSm: 340px,
    phones: 480px,
    phonesLg: 640px,
    tablet: 768px,
    laptop: 992px,
    desktopSm: 1024px,
    desktopMd: 1170px,
    desktop: 1280px,
    notebook: 1366px,
    notebookLg: 1600px,
    fullHD: 1800px,
    retina: 2100px,
    retina4k: 3656px,
    retina5k: 5100px,
    retina8k: 7600px
);

$customContainer: true;
$containerLimit: #{rem(1120) + rem(48)};
$containerOffset: calc(var(--container-gutter) * -1);
$contentGutter: rem(16) !default;
$contentGutterX2: rem(24) !default;
$contentGutterX3: rem(48) !default;
$contentGutterX4: rem(96) !default;
$sectionSpacer: var(--section-spacer, rem(70)) !default;

$themes-map: (
    default:(
        primary: #6236FF,
        primary-light: #C7C2D7,
        secondary: #44D7B6,
        tertiary: #fdde59,
        fourth:#d7d2be,
        light: #ffffff,
        ligh-gray: #F2F2F2,
        dark: #262628,
        dark24: rgba(#262628, 0.24),
        base: var(--cl-dark),
        border: #dddddd,
        error: #c40606,
        //warning: #fffb53,
        success: var(--cl-dark)
    ),
);

$primary: var(--cl-primary);
$primary-light: var(--cl-primary-light);
$secondary: var(--cl-secondary);
$tertiary: var(--cl-tertiary);
$fourth: var(--cl-fourth);

$light: var(--cl-light);
$dark: var(--cl-dark);

$gray: var(--cl-ligh-gray);

$error: var(--cl-error);
//$warning: var(--cl-warning);
$success: var(--cl-success);

$base-color: var(--cl-base);
$border-color: var(--cl-border);

//* transitions && animations
$transition-default: 0.44s linear !default;
$transition-border: border-color $transition-default !default;
$transition-shadow: box-shadow $transition-default !default;

$transition-start-delay: var(--transition-start-delay, 1.8s);
$transition-start-duration: var(--transition-start-duration, 0s);
$global-animation-state: var(--gm-play-animation, paused);
$transition-function: cubic-bezier(.2, .63, .59, .84); //cubic-bezier(0,.89,.36,1.22);

$base-font-color: $secondary !default;
$base-font-size-color: 16px !default;

// * fonts
$font-path: '../assets/fonts/' !default;
$font-path-rota: $font-path + 'rota/' !default;
$icon-font-path: $font-path + 'pfp-font-icons' !default;

//$font-family-primary: 'Montserrat', sans-serif;
$font-family-primary: 'Rota';
$font-family-alternative: 'Raleway', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
$font-family-secondary: 'Public Sans', sans-serif; //'Halenoir Compact';

//* Icons
$icon-font-family: 'pfp-station-icon' !default;
$icon-font-prefix: 'pfi-';

$pfi-star: "\e907";
$pfi-box: "\e904";
$pfi-cloud: "\e905";
$pfi-option: "\e906";
$pfi-group: "\e900";
$pfi-fox: "\e901";
$pfi-file: "\e902";
$pfi-collection: "\e903";

$icons-font-map: (
    star: $pfi-star,
    box: $pfi-box,
    cloud: $pfi-cloud,
    option: $pfi-option,
    group: $pfi-group,
    fox: $pfi-fox,
    file: $pfi-file,
    collection: $pfi-collection,
);

// * shadows
$sh-card: rem(0) rem(-4) rem(4) rgb(#262628, 0.3);
$sh-text: rem(0) rem(1) rem(0) $light;
$sh-form-element: 0 rem(8) rem(16) rgba(21, 25, 34, 0.24);

//* Scrolls
$scroll-size: var(--scroll-size, rem(5));
$scroll-border-radius: 0;
$scroll-thumb-color: $primary;
$scroll-thumb-hover-color: $primary-light;
$scroll-track-color: $light;
$scroll-track-line: inset 0 0 0 0px $scroll-track-color;

//* cursor
$cursor-size: rem(30);
$cursor-color: $secondary;
$cursor-color-active: $primary-light;

//* Loader
$loader-size: rem(48);

//* z-index
$z-index-step: 10 !default;
$z-index: (
    start: 10,
    middle: 50,
    header: 100,
    modal: 1000
) !default;
