@import "./../../../../../scss/core/core";

.down-steps {
  --container-gap: #{rem(24)};
  --container-justify-content: space-between;
  --container-align-items: center;

  display: flex;

  width: 100%;
  min-height: var(--down-steps-height, rem(128));

  margin: rem(-1.5) 0;
  padding: rem(48) 0;

  overflow: hidden;

  background: linear-gradient(180deg, rgba(255,255,255,1) 62%, rgba(255,255,255,0) 100%);

  @include min-wide(phonesLg) {
    --container-flex-flow: row;
  }

  &.--1 .container .step-item[data-step="2"],
  &.--1 .container .step-item[data-step="3"],
  &.--2 .container .step-item[data-step="3"], {
    opacity: 0;
    visibility: hidden;
  }

  &.--1, &.--2 {
    border-radius: unset;
  }
}
